.fundo_nave{

    color: aquamarine;
}

.menu{
    height: 40px;
}

.conteudo{
    width: 100%;
}

.text-uppercase{
    text-align: center;
}

.shiva{
    width: 100%;
}

.titulo{
    margin-top: 30px;
    margin: 15px;
    text-align: center;
}

.deusa{
    width: 100%;
}