.fundo_nave{

    background-color: #3CB371;
}

.paragrafo{
	color: #000000;
	font-family: Trebuchet MS, sans-serif;
}

.fundo{
	background-color: #2E8B57;
}

.cont{
	background-color: #3CB371;
}

.texto{
	color: #000000;
}

.menu{
    height: 40px;
}

.conteudo{
    width: 100%;
}

.text-uppercase{
    text-align: center;
}

.shiva{
    width: 100%;
}

.titulo{
    margin-top: 30px;
    margin: 15px;
    text-align: center;
    color: #000000;
    font-family: Bradley Hand, cursive;
}

.deusa{
    width: 100%;
}

.ispace{
	margin-top: 50%;
	margin: 25px;
	margin-bottom: 25px;
}

